version: "3.7"

networks:
  als-mojaloop-net:
    name: als-mojaloop-net

services:
  account-lookup-service:
    image: mojaloop/account-lookup-service:local
    build:
      context: .
      target: builder
    container_name: als_account-lookup-service
    user: root
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-account-lookup-service.sh && node src/index.js server"
    ports:
      - "4001:4001"
      - "4002:4002"
    networks:
      - als-mojaloop-net
    depends_on:
      - mysql-als
      - central-ledger
    volumes:
      - ./secrets:/opt/app/secrets
      - ./src:/opt/app/src
      - ./docker/account-lookup-service/default.json:/opt/app/config/default.json
      - ./docker/wait-for:/opt/wait-for
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:4001/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  central-ledger:
    image: mojaloop/central-ledger:latest
    container_name: als_central-ledger
    user: root
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-central-ledger.sh && node src/api/index.js"
    ports:
      - "3001:3001"
    volumes:
       - ./docker/central-ledger/default.json:/opt/app/config/default.json
       - ./docker/wait-for:/opt/wait-for
    environment:
      - LOG_LEVEL=info
      - CLEDG_DATABASE_URI=mysql://central_ledger:password@mysql-cl:3306/central_ledger
      - CLEDG_SIDECAR__DISABLED=true
      - CLEDG_MONGODB__DISABLED=true
    networks:
      - als-mojaloop-net
    depends_on:
      - mysql-cl
      - kafka
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3001/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  kafka:
    image: johnnypark/kafka-zookeeper:2.3.0
    container_name: als_kafka
    volumes:
      - ./docker/kafka/:/opt/kafka_2.12-2.3.0/config/
    ports:
      - "2181:2181"
      - "9092:9092"
    environment:
      - ZOO_LOG4J_PROP=WARN
    networks:
      - als-mojaloop-net
    healthcheck:
      test: ["CMD", "/opt/kafka_2.12-2.3.0/bin/kafka-broker-api-versions.sh", "--bootstrap-server", "kafka:29092"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  mysql-als:
    image: mysql/mysql-server
    container_name: als_mysql
    ports:
      - "3306:3306"
    volumes:
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-account_lookup}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-account_lookup}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - als-mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql-als"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  mysql-cl:
    image: mysql/mysql-server
    container_name: als_mysql_central_ledger
    ports:
      - "3307:3306"
    volumes:
      - ./docker/sql-init-central-ledger/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-central_ledger}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-central_ledger}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - als-mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql-cl"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  redis:
    image: redis:6.2.4-alpine
    restart: "unless-stopped"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PORT=6379
      - REDIS_REPLICATION_MODE=master
      - REDIS_TLS_ENABLED=no
    ports:
      - "6379:6379"
